# TCC2

#### Este trabalho visa comparar 3 modelos...

In [33]:
import sqlite3
import pandas as pd 
import numpy as np 
import matplotlib.pylab as plt
%matplotlib inline

In [41]:
#df = pd.read_csv("./database/loan.csv", sep=',', usecols = ["loan_status", "loan_amnt", "term", "int_rate"]) 
#['Fully Paid', 'Charged Off', 'Current', 'Default',
#       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
#       'Does not meet the credit policy. Status:Fully Paid',
#       'Does not meet the credit policy. Status:Charged Off', 'Issued']
conn = sqlite3.connect('./database/database.sqlite')
to_parse = ['issue_d' , 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']
df = pd.read_sql_query("select * from loan where loan_status = 'Fully Paid' OR loan_status = 'Charged Off'", con=conn)

MemoryError:

In [30]:
df.columns()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'], dtype=object)